<div class="row">
  <div class="col-md-12">
    <div style="width:100%;height:600px;overflow:auto;border:0px">
      <div style="width:101%;height:1600px;margin:-480px 0px 0px -20px;">
        <iframe src="<%= @quotation_link %>" width="100%" height="100%" scrolling="no" frameborder="no"></iframe>
      </div>
    </div>


    </div>
    </div>