<div class="row">
  <div class="span12 info-block">
    <div style="width:100%;height:600px;overflow:hidden;border:0px">
      <div style="width:100%;height:1600px;margin:-500px 0px 0px -10px;">
        <iframe src="<%= @quotation_link %>" width="100%" height="100%" scrolling="no" frameborder="no"></iframe>
      </div>
    </div>


    </div>
    </div>