<div class="row">
  <div class="col-md-12">
    <div style="width:100%;height:600px;overflow:auto;border:0px">
      <div style="width:100%;height:1800px;margin:-480px 0px 0px 0px;">
        <iframe src="<%= @quotation_link %>" width="100%" height="100%" scrolling="yes" frameborder="no"></iframe>
      </div>
    </div>

  </div>
</div>