<div id="myModal2" class="modal fade" hidden="true" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

<div class="row">
  <div class="col-md-12">
    <% if @user_orders.size == 0 %>
        <div class="row">
          <div class="col-md-12">
            <a href="#myModal2" role="button" data-toggle="modal" class="btn-orange pre-order-link" style="display: inline-block; ">预约上门测量</a>
            <span>目前没有订单，可以先到样板房中看看有没有中意的哦~</span>
          </div>
        </div>
        <hr/>
    <% end %>
    
    <% @user_orders.each do |s| %>
        <div class="row">

          <div class="col-md-8">
            <!-- Button trigger modal -->
            <button class="btn btn-orange pre-order-link" data-toggle="modal" data-target="#myModal2">
              更新待装修房信息
            </button>

          </div>

        </div>
    <% end %>
  </div>
</div>
<!-- End row -->