<section class="listing-layout property-grid">

  <h3 class="title-heading">大图视图</h3>

  <div class="view-type clearfix">
    <a class="order">最新</a>
    <a class="order">人气</a>
    <a class="order">价格</a>
    <a class="list" ></a>
    <a class="grid active" ></a>
  </div>

  <div class="list-container clearfix">
    <article class="property-item clearfix">
      <figure>
        <a href="#" title="15421 Southwest 39th Terrace">
          <img src="images/temp-images/property1.jpg" class="attachment-grid-view-image wp-post-image" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
        </a>

        <figcaption> On Rent </figcaption>
      </figure>

      <h4>
        <a href="" title="15421 Southwest 39th Terrace">15421 Southwest 39th Terrace</a>
      </h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam… <a class="more-details" href="#">More Details <i class="icon-caret-right"></i></a></p>
      <span>$3,850 Per Month</span>
    </article>

    <article class="property-item clearfix">
      <figure>
        <a href="#" title="700 Front Street, Key West, FL">
          <img src="images/temp-images/property2.jpg" class="attachment-grid-view-image wp-post-image" alt="700 Front Street, Key West, FL" title="700 Front Street, Key West, FL">
        </a>

        <figcaption> On Sale  </figcaption>
      </figure>

      <h4><a href="#" title="700 Front Street, Key West, FL">700 Front Street, Key West, FL</a></h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam… <a class="more-details" href="#">More Details <i class="icon-caret-right"></i></a></p>
      <span>$850,000 </span>
    </article>

    <article class="property-item clearfix">
      <figure>
        <a href="#" title="1903 Hollywood Boulevard">
          <img src="images/temp-images/property3.jpg" class="attachment-grid-view-image wp-post-image" alt="1903 Hollywood Boulevard" title="1903 Hollywood Boulevard">
        </a>

        <figcaption> On Sale  </figcaption>
      </figure>

      <h4><a href="#" title="1903 Hollywood Boulevard">1903 Hollywood Boulevard</a></h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam… <a class="more-details" href="#">More Details <i class="icon-caret-right"></i></a></p>
      <span>$778,000 </span>
    </article>

    <article class="property-item clearfix">
      <figure>
        <a href="#" title="401 Biscayne Boulevard, Miami">
          <img src="images/temp-images/property3.jpg" class="attachment-grid-view-image wp-post-image" alt="401 Biscayne Boulevard, Miami" title="401 Biscayne Boulevard, Miami">
        </a>

        <figcaption> On Rent </figcaption>
      </figure>

      <h4><a href="#" title="401 Biscayne Boulevard, Miami">401 Biscayne Boulevard, Miami</a></h4>
      <p>Nam liber tempor cum soluta nobis eleifend option congue nihil… <a class="more-details" href="#">More Details <i class="icon-caret-right"></i></a></p>
      <span>$3,250 Per Month</span>
    </article>

    <article class="property-item clearfix">
      <figure>
        <a href="#" title="3015 Grand Avenue, CocoWalk">
          <img src="images/temp-images/property4.jpg" class="attachment-grid-view-image wp-post-image" alt="3015 Grand Avenue, CocoWalk" title="3015 Grand Avenue, CocoWalk">
        </a>

        <figcaption> On Rent  </figcaption>
      </figure>

      <h4><a href="#" title="3015 Grand Avenue, CocoWalk">3015 Grand Avenue, CocoWalk</a></h4>
      <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation… <a class="more-details" href="#">More Details <i class="icon-caret-right"></i></a></p>
      <span>$4,350 Per Month</span>
    </article>

    <article class="property-item clearfix">
      <figure>
        <a href="#" title="1200 Anastasia Avenue, Coral Gables">
          <img src="images/temp-images/property5.jpg" class="attachment-grid-view-image wp-post-image" alt="1200 Anastasia Avenue, Coral Gables" title="1200 Anastasia Avenue, Coral Gables">
        </a>

        <figcaption> On Sale  </figcaption>
      </figure>

      <h4><a href="#" title="1200 Anastasia Avenue, Coral Gables">1200 Anastasia Avenue, Coral Gables</a></h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam… <a class="more-details" href="#">More Details <i class="icon-caret-right"></i></a></p>
      <span>$625,000 </span>
    </article>
  </div>

  <div class="pagination">
    <a href="#" class="real-btn current">1</a>
    <a href="#" class="real-btn">2</a>
  </div>
</section>
        