<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @decorate_scheme.name %>
</p>


<%= link_to 'Edit', edit_decorate_scheme_path(@decorate_scheme) %> |
<%= link_to 'Back', decorate_schemes_path %>
