
<div id="home-flexslider" class="clearfix">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <a href="#"><img src="/images/temp-images/slider-image.jpg" alt="15421 Southwest 39th Terrace"></a>
      </li>
      <li>
        <a href="#"><img src="/images/temp-images/slider-image2.jpg" alt="1200 Anastasia Avenue, Coral Gables"></a>
      </li>

    </ul>
  </div>
</div><!-- End Slider -->


<div class="container contents">
<div class="row">
<div class="span12">
<div class="main">

<section class="property-items">

  <div class="span8">
    <h3>最IN推荐</h3>

    <div class="property-items-container clearfix">
      <div class="span8 ">
        <article class="property-item clearfix">
          <figure>
            <a href="<%= show_house_path(1) %>" title="15421 Southwest 39th Terrace">
              <img src="/images/temp-images/property1.jpg" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
            </a>
            <figcaption></figcaption>
          </figure>

          <div class="detail">
            <h5 class="">舒能实业装潢<small></small></h5>
            <p>简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条...</p>

          </div>

          <div class="property-meta">
            <span><i class="icon-area"></i>147m2</span><span><i class="icon-bed"></i>美式</span><span><i class="icon-bath"></i>三室两厅</span><span><i class="icon-garage"></i>￥19000元</span>
          </div>
        </article>
      </div>
      <div class="span8 ">
        <article class="property-item clearfix">
          <figure>
            <a href="<%= show_house_path(2) %>" title="15421 Southwest 39th Terrace">
              <img src="/images/temp-images/property1.jpg" alt="15421 Southwest 39th Terrace" title="15421 Southwest 39th Terrace">
            </a>
            <figcaption></figcaption>
          </figure>

          <div class="detail">
            <h5 class="">舒能实业装潢<small></small></h5>
            <p>三室两厅 | 美式 | 147m2 | ￥19000元</p><p>简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条，简单粗旷的线条...</p>

          </div>

          <div class="property-meta">
            <span><i class="icon-area"></i>147m2</span><span><i class="icon-bed"></i>美式</span><span><i class="icon-bath"></i>三室两厅</span><span><i class="icon-garage"></i>￥19000元</span>
          </div>
        </article>
      </div>

    </div><!-- End .property-items-container -->


  </div>

  <div class="span4">

    <h3 style="">装修学前班</h3>
  </div>
  <div class="clearfix"></div>

</section><!-- End .property-items -->

</div><!-- End .main -->
</div><!-- End span12 -->
</div><!-- End .row -->
</div><!-- End .contents -->

