<div class="row" style="padding: 20px;"></div>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-2">
      <ul id="myTab" class="nav nav-pills nav-stacked" role="tablist">
        <li class="active"><a href="#tab1" role="tab" data-toggle="tab">何为一口价</a></li>
        <li class=""><a href="#tab2" role="tab" data-toggle="tab">一口价施工包含项目</a></li>
        <li class=""><a href="#tab3" role="tab" data-toggle="tab">一口价主材包含项目</a></li>
        <li class=""><a href="#tab4" role="tab" data-toggle="tab">一口价不包含的项目</a></li>
        <li class=""><a href="#tab5" role="tab" data-toggle="tab">不包含项目收费标准</a></li>
        <li class=""><a href="#tab6" role="tab" data-toggle="tab">如何在线选择主材</a></li>
        <li class=""><a href="#tab7" role="tab" data-toggle="tab">如何预约实体看主材</a></li>
        <li class=""><a href="#tab7" role="tab" data-toggle="tab">签约付款方式</a></li>

      </ul>

    </div>
    <div class="col-md-10">
      <div id="myTabContent" class="tab-content" style="">
        <div class="tab-pane fade active in" id="tab1">
          <p>一口价就是...</p>
        </div>
        <div class="tab-pane fade" id="tab2">
          <p>啦啦啦2</p>
        </div>
        <div class="tab-pane fade" id="tab3">
          <p>啦啦啦3</p>
        </div>
        <div class="tab-pane fade" id="tab4">
          <p>啦啦啦4</p>
        </div>
        <div class="tab-pane fade" id="tab5">
          <p>啦啦啦5</p>
        </div>
        <div class="tab-pane fade" id="tab6">
          <p>啦啦啦6</p>
        </div>
        <div class="tab-pane fade" id="tab7">
          <p>啦啦啦7</p>
        </div>

      </div>
    </div>

  </div>
</div>