/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= #require_tree .
 */

/* ------------------------------------------------------*/
/* 定制顶层菜单的样式
/* ------------------------------------------------------*/
#navbar-top.navbar-inverse {
    background-color: #24292c  !important;
    border: 0px;
/*    border-color: #161a36; */
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 2;
}
#navbar-top ul.nav.navbar-nav li > a {
    color: white;
    font-family: "微软雅黑";
    font-weight: bold;
    font-size: 14px;
}
#navbar-top ul.nav.navbar-nav li.active > a, #navbar-top ul.nav.navbar-nav li > a:hover{
    background-color: #4dc7ec !important;
}
#navbar-top ul.nav.navbar-nav  li ul.dropdown-menu {
    padding: 0px 0px;
    margin: 0px 0px;
}
#navbar-top ul.nav.navbar-nav li ul.dropdown-menu li > a {
    background-color:  #4dc7ec !important;
    height: 40px;
    margin: 0px 0px;
    padding-top: 10px;
}
#navbar-top ul.nav.navbar-nav  li ul.dropdown-menu li:hover > a {
    background-color:  #0988ae !important;
}
/* ------------------------------------------------------*/
/* 定制footer的样式
/* ------------------------------------------------------*/
#footer-wrapper {
    background: url("../images/background-outer-wrapper.png") repeat-x scroll bottom center transparent;
    padding-bottom: 245px;
}

/* ------------------------------------------------------*/
/* 用户订单界面（user_orders）样式
/* ------------------------------------------------------*/
.user_orders_top_bar{
  border:solid 1px #F8F8F8;
  height: 40px;
  background: #F8F8F8;
}
.user_orders_div_border{
  border:solid 1px #F8F8F8;
}
.user_orders_under_div{
  height: 130px;
  text-align: center;
}

/* ------------------------------------------------------*/
/* icon image style change
/* ------------------------------------------------------*/
.property-item .property-meta span [class^="icon-"], .property-item .property-meta span [class*=" icon-"] {
    width: 24px !important; /*changed the default icon, so override the css in main.css*/
    height: 24px !important;
}
#home-flexslider .flex-direction-nav li a {
    display: block;
    text-indent: -999em;
    width: 48px;
    height: 54px !important; /*we changed the default picture, thus need override the css in main.css*/
    position: absolute;
    top: 50%;
    margin-top: -22px;
    z-index: 150;
    cursor: pointer;
}

/*------------------------------------------------------*/
/*  START - Real Btn
/*------------------------------------------------------*/
.real-btn, .btn-blue, .btn-grey, .btn-orange, .btn-skyblue, .btn-silver, .btn-green, .btn-darkblue, .btn-red, .btn-black {
    font-family: "Roboto", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding: 8px 16px;
    -webkit-padding-before: 7px;
    -webkit-padding-after: 7px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
    background-color: #fd970f;
}
.real-btn:hover, .btn-blue:hover, .btn-grey:hover, .real-btn.current, .current.btn-blue, .current.btn-grey {
    background-color: #e3712c;
    color: white;
}
.btn-orange:hover, .btn-skyblue:hover, .btn-silver:hover, .btn-green:hover, .btn-darkblue:hover, .btn-red:hover, .btn-black:hover  {
    color: white;
}

.btn-mini {
    padding: 8px 29px;
    font-size: 14px;
}

.btn-small {
    padding: 11px 36px;
    font-size: 18px;
}

.btn-large {
    padding: 12px 48px;
    font-size: 20px;
}

.btn-blue {
    font-weight: bold;
    background-color: #58caec;
    margin-bottom: 30px;
}
.btn-blue:hover, .btn-blue.current {
    background-color: #18aad5;
}

.btn-grey {
    font-weight: bold;
    background-color: #aeadad;
    margin-bottom: 30px;
}
.btn-grey:hover, .btn-grey.current {
    background-color: #838181;
}

.btn-orange {
    font-weight: bold;
    background-color: #faa732;
    margin-bottom: 30px;
}
.btn-orange:hover, .btn-orange.current {
    background-color: #f89406;
}
.btn-skyblue {
    font-weight: bold;
    background-color: #49afcd;
    margin-bottom: 30px;
}
.btn-skyblue:hover, .btn-skyblue.current {
    background-color: #2f96b4;
}
.btn-silver {
    font-weight: bold;
    background-color: #f5f5f5;
    margin-bottom: 30px;
}
.btn-silver:hover, .btn-silver.current {
    background-color: #e6e6e6;
}
.btn-green {
    font-weight: bold;
    background-color: #5bb75b;
    margin-bottom: 30px;
}
.btn-green:hover, .btn-green.current {
    background-color: #51a351;
}
.btn-darkblue {
    font-weight: bold;
    background-color: #006dcc;
    margin-bottom: 30px;
}
.btn-darkblue:hover, .btn-darkblue.current {
    background-color: #0044cc;
}
.btn-red {
    font-weight: bold;
    background-color: #da4f49;
    margin-bottom: 30px;
}
.btn-red:hover, .btn-red.current {
    background-color: #bd362f;
}
.btn-black {
    font-weight: bold;
    background-color: #363636;
    margin-bottom: 30px;
}
.btn-black:hover, .btn-black.current {
    background-color: #333333;
}

/*------------------------------------------------------*/
/*  END - Real Btn
/*------------------------------------------------------*/