/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= #require_tree .
 */
.contact-number a {
    color: white;
}
.header-wrapper {
    background-color: #161a36 !important;
}
.header-wrapper .container, .header-wrapper .container #logo,  .header-wrapper .container #logo img {
    height: 48px;
}
.main-menu ul li.current-menu-ancestor > a, .main-menu ul li.current-menu-parent > a, .main-menu ul li.current-menu-item > a, .main-menu ul li.current_page_item > a, .main-menu ul li:hover > a {
    color: white;
    background-color: #fd970f !important;
}
.main-menu ul li ul li > a {
    background-color:  #fd970f !important;
}
.main-menu ul li ul li:hover > a {
    background-color:  #ec894d !important;
}

/*
* icon image style change
*/
.property-item .property-meta span [class^="icon-"], .property-item .property-meta span [class*=" icon-"] {
    width: 24px !important; /*changed the default icon, so override the css in main.css*/
    height: 24px !important;
}
#home-flexslider .flex-direction-nav li a {
    display: block;
    text-indent: -999em;
    width: 48px;
    height: 54px !important; /*we changed the default picture, thus need override the css in main.css*/
    position: absolute;
    top: 50%;
    margin-top: -22px;
    z-index: 150;
    cursor: pointer;
}