// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.property-items .col-md-8 h3, .property-items .col-md-4 h3 {
  text-align: left;
  border-bottom: 2px slategray solid;
}

/************************************/
/* 装修学前班字体样式                  */
/************************************/
.list-group .list-group-item {
  font-family: "microsoft yahei";
}

.list-group .list-group-item h4 {
  font-size: 18px;
}

.list-group .list-group-item p {
  font-size: 12px;
}
.list-group .list-group-item img {
  padding: 6px;
}