// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.property-items .col-md-8 h3, .property-items .col-md-4 h3 {
  font-family: "microsoft yahei";
  text-align: left;
  padding-bottom: 5px;
  border-bottom: 1px lightgray solid;
}
span.currency {
  color: lightgray;
  font-size: small;
}
/************************************/
/* 装修学前班字体样式                  */
/************************************/
.list-group .list-group-item {
  font-family: "microsoft yahei";
  background-color: transparent;
  border: none;
}

.list-group .list-group-item h4 {
  font-size: 18px;
}

.list-group .list-group-item p {
  font-size: 12px;
}

.list-group .list-group-item img {
  padding: 6px;
}

/************************************/
/* 装修花费样式                       */
/************************************/
.property-items h3.first-header {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 42px;
}

.property-items .tab-content.header-mod {
  border: 1px solid #ddd;
  border-radius: 4px 0px 4px 4px;
  margin-top: -1px;
  -webkit-box-shadow: 3px 3px 10px lightgray;
  box-shadow: 3px 3px 10px lightgray;
  background-color: #fff;
}

/************************************/
/* 一口价查询样式                      */
/************************************/
table.simple_price {
  font-family: "microsoft yahei";
}

table.simple_price tbody tr:hover {
  background-color: #d9edf7;
}

table.simple_price thead tr td, thead tr th {
  text-align: center;
  font-weight: normal;
}

table.simple_price thead tr th form {
  font-size: 18px;
}

table.simple_price thead tr.blue-bg {
  font-size: 18px;
  color: white;
  background-color: royalblue;
}

table.simple_price  h5 {
  color: #fd970f;
}

