// Place all the styles related to the ShowHouses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$link-background-color: #fd970f;
$header-background-color: #161a36;
#overview .property-item .wrap {
  background-color: $header-background-color;
  color: #ffffff;
}
#overview .property-item .wrap .title {
  color: white;
}
#overview .property-item .wrap .area, #overview .property-item .wrap .lowest-price {
  color: $link-background-color;
}
#overview .property-item .area, #overview .property-item .lowest-price {
  float: left;
  margin-bottom: 0;
  padding: 0 0 0 16px;
  font-size: 18px;
  line-height: 40px;

}
#overview .property-item .concept {
  padding-left: 16px;
  display: inline-block;
  vertical-align: top;
  width: 60%;
}
#overview .property-item .decorate-company {
  display: inline-block;
  text-align: right;
  //float: right;
  width: 37%;
}
#overview .property-item .decorate-company label{
  display: inline-block;
}
#overview .property-item .decorate-company .lowest-price{
  float: right;
}
/*********************************************/
/* 样板房展示页面自定义的样式  @media( min-width: 1200px )   */
/*********************************************/
#overview .property-item .title {
  float: left;
  margin-bottom: 0;
  padding: 0 0 0 16px;
  font-size: 24px;
  line-height: 40px;
}

#property-detail-flexslider .jcarousel-prev {
  background: url(../images/slideshow-nav-left.png) #141616 no-repeat center 6px;
  float: left;
}
#property-detail-flexslider .jcarousel-next {
  background: url(../images/slideshow-nav-right.png) #141616 no-repeat center 6px;
  float: right;
}

/* flexslider style*/
#property-detail-flexslider .flexslider .slides img {
  margin: 0 auto;
  max-width: 1024px;
  /*max-height: 431px;*/
}
#property-detail-flexslider .flex-viewport {
  width: 1024px;
  height: 431px;
}
#property-detail-flexslider {
  height: 431px;
}

#property-detail-flexslider .flex-control-thumbs li {
  margin-bottom: 7px;
  height: 60px;
}
#property-detail-flexslider .jcarousel-container-vertical {
  width: 100px;
  padding: 9px;
}
#property-detail-flexslider .jcarousel-clip-vertical {
  height: 380px;
}
#property-detail-flexslider .jcarousel-next,
#property-detail-flexslider .jcarousel-prev {
  margin: 5.2px 0 0;
  width: 40px;
}

/* search filter style*/

.search-filter {
  padding: 30px 0px; margin-bottom:0px;text-align: left;
}
.search-filter h2 {
  padding-left: 30px;
  margin: -20px 0px 20px 0px;
}
.search-filter p span {
  margin-left: 30px;
  margin-right: 40px;
  font-weight: bold;
}
.search-filter a {
  display: inline-block;
  padding: 4px 10px;
  text-decoration: none;
}
.search-filter a:hover, .search-filter a.active {
  background-color: $link-background-color;
  color: white;
}
/*------------------------------------------------------*/
/* Agent Listing Detail Page
/*------------------------------------------------------*/
.listing-layout .span6 {
  width: auto;
  float: none;
  margin: 0 0 30px;
}
.listing-layout .property-item {
  padding-bottom: 0;
}
.listing-layout .property-item .price {
  margin: 0 -11px 10px -18px;
  padding: 8px 20px 10px 13px;
}
.listing-layout .property-item figure {
  margin: 0 0 20px;
}
.listing-layout .property-item img {
  border: none;
}
.listing-layout .property-item .detail {
  width: 73%;
}
.listing-layout .property-by .title-heading {
  float: left;
  position: static;
}

/*------------------------------------------------------*/
/* Property Listing View
/*------------------------------------------------------*/

.view-type {
  border-bottom: 1px solid #dedede;
  background-color: white;
  width: 100%;
}
.view-type a {
  display: block;
  float: right;
  height: 34px;
  width: 39px;
  margin: 0;
  cursor: pointer;
}
.view-type a.order {
  float: left;
  display: inline-block;
  padding: 4px 30px;
  line-height: 35px;
  display: none;
}
.view-type a.list {
  background: url(../images/icon-listing.png) no-repeat center 9px;
  border-right: 1px solid #dedede;
}
.view-type a.grid {
  background: url(../images/icon-grid.png) no-repeat center 9px;
}
.view-type a.list.active, .view-type a.grid.active, .view-type a:hover {
  background-position: center -27px;
}

/*------------------------------------------------------*/
/* Property Grid View
/*------------------------------------------------------*/

.property-grid .property-item {
  margin: 0 0 30px 30px;
  padding: 0;
  float: left;
  border: 0;
  width: 196px;
  min-height: 340px;
  height: auto !important;
  height: 340px;
}
.property-grid .property-item figure {
  margin: 0 0 18px;
  width: auto;
  float: none;
}
.property-grid .property-item h4, .property-grid .property-item h4 a, .property-grid .property-item h4 a {
  font-size: 14px;
}
.property-grid .property-item h4, .property-grid .property-item h4 a {
  margin-bottom: 4px;
}
.property-grid .property-item span {
  color: #4dc7ec;
  font-weight: bold;
}
.property-grid .property-item .more-details .icon-caret-right {
  margin-left: 5px;
  vertical-align: middle;
}

.pagination span.current {
display: inline-block;
padding: 5px 4px;
background-color: $link-background-color;
width: 25px;
color: white;
}
.pagination a:hover {
  background-color: $link-background-color;
  color: white;
}
